<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Raleway:500italic,600italic,600,700,700italic,300italic,300,400,400italic,800,900' rel='stylesheet' type='text/css'>
        
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600italic,700,900' rel='stylesheet' type='text/css'>
        
         <!-- Animate CSS -->
        <link rel="stylesheet" type="text/css" href="/css/animate.css">
        <!-- CSS -->
       <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
        <!-- CSS File-->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <style>
  
  body {
            background-image: url(../css/images/my.jpg);
       background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;

    }
  .img_form{
    margin-left: 27%;
    margin-top: 7%;

  }
  #reg-div{
  margin-left: 10%;
  margin-top: 5%;
  width: 70%;
  height: 70%;
  }
  
    .mytext{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      color: white;
    }
  .div_text{
    width: 60%;
    height: 60%;
  }
  .div_form_sign{
    margin-top: 13%;
    width: 30%;
    padding:1%;
        margin-left: 40%;
        border: 2px solid white;
        border-radius: 30px; 
      background-color: rgba(60, 6, 50,0.5);
  }
   .error_div{
            margin-left: 20%;
            background-color:#3c0632;
            margin-top: 13%;
            width: 30%;
            height: 30%;
            padding: 2%;
          }
          .paraerror{
            font-size: 40px;
            color: white;
          }
  
   
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="./libraries/p5.js"></script>
  <script src="./libraries/p5.dom.js"></script>
  <script src="./libraries/p5.sound.js"></script>
  <script src="sketch.js"></script>
    <script language="javascript" type="text/javascript" src="./libraries/p5.sound.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
</head>
<body>
	
	<div class="div_form_sign">
	<form action='login'  method='post'> 
		<div class='form-group'>
			<label for='usr'  style="color: white;" >Username:</label>
			<input type='text' style='width:50%;' class='form-control' required id='usr-name' placeholder='Enter your username' name='username'>
		</div>
		<br> <br>
		<div class='form-group'> 
			<label for='pwd' style="color: white;">Password:</label>
			<input type='password' style='width:50%;' class='form-control' required id='pwd' placeholder='Enter your password' name="password">
		</div> 
		<br> <br>	
		<button type='submit' style=" border-radius:20px; border: 2px solid black; width: 30%; font-size: 20px; height: 5%;  background-color:white; color:#787878;" class='btn btn-success' id="login">Login</button>
	</form>
</div>
</body>
</html>